*.exe filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
PseudoRun-Desktop-Windows/** filter=lfs diff=lfs merge=lfs -text
node_modules/electron/** filter=lfs diff=lfs merge=lfs -text
